.scroll-section::-webkit-scrollbar {
  display: none;
}

.scroll-section {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

* {
  transition: background 0.5s;
}